params {
  // Default values always make pipeline run successfully.
  abortTerminalProcess = false
  alwaysPassIntermitentProcess = true
  abortCriticalProcess = false
  forceMissingOutputFail = false

  // Overwrite default error strategies. Leave null for defaults.
  intermitentProcessErrorStrategy = null
  terminalProcessErrorStrategy = null
  criticalProcessErrorStrategy = null

  // Set timers for simulated durations of processes.
  terminalProcessTimeRange = "1-2"
  intermitentProcessTimeRange = "1-2"
  missingOutputProcessTimeRange = "1-2"
}

process {
  container = "ubuntu:18.10"

  withName: intermitentFailProcess {
    errorStrategy = params.intermitentProcessErrorStrategy 
      ? params.intermitentProcessErrorStrategy 
      : { task.attempt <= 2 ? "retry" : "ignore" }
    maxRetries = 3
  }

  withName: terminalProcess {
    errorStrategy = params.terminalProcessErrorStrategy 
      ? params.terminalProcessErrorStrategy 
      : "ignore"
  }

  withName: criticalProcess {
    errorStrategy = params.criticalProcessErrorStrategy 
      ? params.criticalProcessErrorStrategy 
      : "terminate"
  }
}