params {
  // Default values always make pipeline run successfully.
  abortTerminalProcess = false
  alwaysPassIntermitentProcess = true
  abortCriticalProcess = false
  forceMissingOutputFail = false

  // Overwrite default error strategies. Leave null for defaults.
  intermitentProcessErrorStrategy = null
  terminalProcessErrorStrategy = null
  criticalProcessErrorStrategy = null

  // Set timers for simulated durations of processes.
  terminalProcessTimeRange = "1-2"
  intermitentProcessTimeRange = "1-2"
  missingOutputProcessTimeRange = "1-2"
}

process {
  container = "ubuntu:18.10"

  withName: intermitentFailProcess {
    errorStrategy = params.intermitentProcessErrorStrategy 
      ? params.intermitentProcessErrorStrategy 
      : { task.attempt <= 2 ? "retry" : "ignore" }
    maxRetries = 3
  }

  withName: terminalProcess {
    errorStrategy = params.terminalProcessErrorStrategy 
      ? params.terminalProcessErrorStrategy 
      : "ignore"
  }

  withName: criticalProcess {
    errorStrategy = params.criticalProcessErrorStrategy 
      ? params.criticalProcessErrorStrategy 
      : "terminate"
  }
}

profiles {
  gls {
	google {
      lifeSciences.bootDiskSize = 100.GB
      lifeSciences.preemptible = true
      region = 'europe-west1'
    }

    withName: goodProcess {
      cpus = 2
	  memory = '5.Gb'
    }

	withName: terminalProcess {
	  cpus= 1
	  memory= '10.Gb'
	}

	withName: intermitentFailProcess {
	  cpus= 3
	  memory= '3.Gb'
	}

	withName: criticalProcess {
	  cpus= 1
	  memory= '6.Gb'
	}

  }
}
